.permanent-text {
  font-size: 3.8vw;
}

.bounds-text {
  font-size: 4.6vw;
  margin-top: .6vw;
  margin-bottom: .6vw;
}

.guess-text {
  font-size: 4.6vw;
  margin-top: .6vw;
  margin-bottom: .6vw;
}
