<div class="ui-g" >
  <div class="ui-g-3"></div>
  <div class="ui-g-6" align="center">
    <h1>
      Guess a word between ...
    </h1>
  </div>
  <div class="ui-g-3"></div>
</div>


<div class="ui-g" >
  <div class="ui-g-3"></div>
  <div class="ui-g-2" align="left">
    <h1>
      {{leftBound}}
    </h1>
  </div>
  <div class="ui-g-2" align="center">
    <h1>
      {{display}}
    </h1>
  </div>
  <div class="ui-g-2" align="right">
    <h1>
      {{rightBound}}
    </h1>
  </div>
  <div class="ui-g-3"></div>
</div>


<div class="ui-g">
  <div class="ui-g-4"></div>
  <div class="ui-g-4" align="center">
    <app-timer (notifyTimeComplete)="onTimeComplete()"></app-timer>
    <h1>
      Words Guessed: {{successCount}}
    </h1>
  </div>
  <div class="ui-g-4"></div>
</div>
