<div class="ui-g" >
  <div class="ui-g-3"></div>
  <div class="ui-g-6" align="center">
    <div class="permanent-text">
      Guess a word between ...
    </div>
  </div>
  <div class="ui-g-3"></div>
</div>


<div class="ui-g" >
  <div class="ui-g-3"></div>
  <div class="ui-g-2" align="left">
    <div class="bounds-text">
      {{leftBound}}
    </div>
  </div>
  <div class="ui-g-2" align="center">
    <div class="guess-text">
      {{display}}
    </div>
  </div>
  <div class="ui-g-2" align="right">
    <div class="bounds-text">
      {{rightBound}}
    </div>
  </div>
  <div class="ui-g-3"></div>
</div>


<div class="ui-g">
  <div class="ui-g-4"></div>
  <div class="ui-g-4" align="center">
    <app-timer (notifyTimeComplete)="onTimeComplete()"></app-timer>
    <div class="permanent-text">
      Words Guessed: {{successCount}}
    </div>
  </div>
  <div class="ui-g-4"></div>
</div>
